src/main/mule/time-zone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d9f891d-924b-43ff-a1b4-3e051275f846" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="time-zoneFlow" doc:id="888c0846-50a4-4c5f-a89e-f5e900d90567" >
		<http:listener doc:name="Listener" doc:id="8a0081f3-2b23-4b71-9ab7-28a8d2633620" config-ref="HTTP_Listener_config" path="/time"/>
		<ee:transform doc:name="Transform Message" doc:id="7ef840f9-2062-4a5d-ae93-ca50a56e042a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{

"time": now(),


}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7f6cc435-8da7-4fbe-96d0-54fa0412f218" message="#[payload]"/>
	</flow>
</mule>
